.circle {
    display: inline-grid;
    margin: 5px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 75px;
    text-align: center;
    background: red;
  }